@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "century gothic", monospace;
}

#logo {
  height: 100px;
}

body {
  background-color: #ddd1c7;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #1b9bca;
}

header a:hover {
  border: 2px solid #c490d1;
}

nav {
  display: none;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.favorite {
  display: none;
  color: white;
  font-size: 2em;
}

.content h3,
p {
  padding: 10px;
}

.content p {
    padding-left: 30px;
}

.content img {
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
  background-color: #ddd1c7;
  gap: 20px;
}

.transforming {
  display: hidden;
}

.image {
  width: 400px;
  border-radius: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #1b9bca;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

footer a:hover {
  color: #bd79ce;
}

@media (min-width: 767px) {
  main {
    width: 800px;
    margin: auto;
  }

  nav {
    display: block;
  }

  header a {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
  }

  header {
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }

  .favorite {
    display: inline-block;
  }
}

@media (min-width: 1300px) {
  .content {
    width: 1190px;
  }

  header {
    height: 100vh;
    padding-top: 20px;
    align-items: flex-start;
    background-color: #1b9bca;
    background-image: url(imagens/ghibli.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  header a {
    border: none;
    color: black;
  }

  .content {
    width: 90%;
    border-radius: 10px;
  }

  main {
    width: 100%;
  }

  .favorite {
    display: none;
  }
  
  .characters {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
